html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  color: var(--color-font);
  font-size: 16px;
  line-height: 1;
  word-break: keep-all;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
a {
  color: var(--color-font);
  text-decoration: none;
}
img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}
p {
  line-height: 1.6;
}
