html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  color: var(--color-font);
  font-size: 16px;
  line-height: 1;
  word-break: keep-all;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}
a {
  color: var(--color-font);
  text-decoration: none;
}
img {
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}
p {
  line-height: 1.6;
}

/* Acssessories */
.accessories {
  margin-top: 195px;
}
.accessories h1 {
  width: 550px;
  height: 343px;
  background-image: url('../../assets/images/accessories_headline.png');
  margin: 0 auto;
}
.accessories .figures {
  height: 1021px;
  margin-top: 34px;
}
.accessories figure {
  transform: translate(-24px, 0);
}
.accessories figcaption .caption-memo {
  width: 169px;
  height: 41px;
  background-image: url('../../assets/images/accessories_caption_memo.png');
  transform: translate(790px, -52px);
}
.accessories figcaption .caption-supports {
  width: 200px;
  height: 70px;
  background-image: url('../../assets/images/accessories_caption_supports.png');
  transform: translate(163px, 821px);
}
.accessories .infos {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
