* {
  box-sizing: border-box;
}

html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

body {
  height: 10000px;
  font-family: 'Roboto', 'Noto Sans KR', 'sans-serif';
  font-size: 16px;
  line-height: 1;
  color: var(--color-font);
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: var(--color-font);
}

img {
  display: block;
  -webkit-user-drag: none;
}
