/* Inner */
.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

@media (max-width: 1000px) {
  .inner {
    max-width: 692px;
  }
}

/* Btn */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-link);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
.btn:focus {
  box-shadow: 0 0 0 4px var(--color-link-focus);
}

/* Background image text */
.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
a.link {
  color: var(--color-link);
  font-size: 19px;
  line-height: 1.3;
}
a.link:hover {
  text-decoration: underline;
}
a.link::after {
  content: ' >';
}

@media (max-width: 740px) {
  .links {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  a.link {
    font-size: 17px;
  }
}

/* Feature */
.feature {
  display: flex;
}

@media (max-width: 740px) {
  .feature {
    flex-direction: column;
  }
}

/* Figures */
.figures {
  flex-grow: 1;
  position: relative;
}
.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}
.figures figcaption * {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 740px) {
  .figures {
    display: flex;
    justify-content: center;
  }
  .figures figure {
    position: relative;
  }
}

/* Infos */
.infos {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.infos.infos--center {
  justify-content: center;
}
.infos.infos--end {
  justify-content: flex-end;
}
.info {
  max-width: 330px;
  margin-bottom: 24px;
  transition: 1s;
  transform: translate(0, 100px);
  opacity: 0;
}
.info.show {
  transform: translate(0, 0);
  opacity: 1;
}
.infos--large .info {
  max-width: 410px;
}
.info .icon {
  width: 100px;
  height: 100px;
  margin: 0 0 -15px -30px;
  animation: sprite-icon 3s steps(1) infinite;
}
.info .icon.icon--chip {
  background-image: url('../../assets/images/sprite_chip.png');
}
.info .icon.icon--faster {
  background-image: url('../../assets/images/sprite_faster.png');
}
.info .icon.icon--neural {
  background-image: url('../../assets/images/sprite_neural.png');
}
.info .icon.icon--apps {
  background-image: url('../../assets/images/sprite_apps.png');
}
.info .icon.icon--battery {
  background-image: url('../../assets/images/sprite_battery.png');
}
.info .icon.icon--display {
  background-image: url('../../assets/images/sprite_display.png');
}
.info .icon.icon--true-tone {
  background-image: url('../../assets/images/sprite_true_tone.png');
}
.info .icon.icon--center-stage {
  background-image: url('../../assets/images/sprite_center_stage.png');
}
.info .icon.icon--front-camera {
  background-image: url('../../assets/images/sprite_front_camera.png');
}
.info .icon.icon--back-camera {
  background-image: url('../../assets/images/sprite_back_camera.png');
}
.info .icon.icon--scan {
  background-image: url('../../assets/images/sprite_scan.png');
}
.info .icon.icon--download {
  background-image: url('../../assets/images/sprite_download.png');
}
.info .icon.icon--wifi {
  background-image: url('../../assets/images/sprite_wifi.png');
}
.info .icon.icon--lte {
  background-image: url('../../assets/images/sprite_lte.png');
}
.info .icon.icon--pencil {
  background-image: url('../../assets/images/sprite_pencil.png');
}
.info .icon.icon--keyboard {
  background-image: url('../../assets/images/sprite_keyboard.png');
}
.info .icon.icon--notes {
  background-image: url('../../assets/images/sprite_notes.png');
}
.info .icon.icon--covers {
  background-image: url('../../assets/images/sprite_covers.png');
}
.info p {
  font-size: 21.5px;
  font-weight: 600;
  line-height: 1.5;
}
.info a.link {
  display: block;
  margin-top: 44px;
  font-size: 19.5px;
}
.info a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .info {
    max-width: 230px;
  }
  .infos--large .info {
    max-width: 288px;
  }
  .info .icon {
    transform: scale(0.8);
    margin: -30px 0 -24px -32px;
  }
  .info p {
    font-size: 19px;
    line-height: 1.4;
  }
  .info a.link {
    margin-top: 24px;
  }
}

@media (max-width: 740px) {
  .info {
    max-width: none;
    padding: 0 20px;
  }
  .infos--large .info {
    max-width: none;
  }
  .info a.link {
    font-size: 17px;
  }
}

/* WhiteBox */
.whitebox {
  max-width: 1386px;
  margin: 0 auto;
  padding: 100px 30px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: var(--color-white);
}
.whitebox.whitebox--transparent {
  background-color: transparent;
}
.whitebox .icon {
  margin-bottom: 20px;
}
.whitebox h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.3;
}
.whitebox p {
  margin-top: 20px;
  font-size: 19px;
}
.whitebox a.link {
  display: block;
  margin-top: 26px;
}

@media (max-width: 1000px) {
  .whitebox {
    padding: 60px 30px;
  }
  .whitebox .icon {
    width: 44px;
  }
  .whitebox h1 {
    font-size: 36px;
  }
}

@media (max-width: 740px) {
  .whitebox p {
    font-size: 17px;
  }
}

@keyframes sprite-icon {
  /* 1~10 */
  0.00% {
    background-position: 0 0;
  }
  1.67% {
    background-position: -100px 0;
  }
  3.33% {
    background-position: -200px 0;
  }
  5.00% {
    background-position: -300px 0;
  }
  6.67% {
    background-position: -400px 0;
  }
  8.33% {
    background-position: -500px 0;
  }
  10.00% {
    background-position: 0 -100px;
  }
  11.67% {
    background-position: -100px -100px;
  }
  13.33% {
    background-position: -200px -100px;
  }
  15.00% {
    background-position: -300px -100px;
  }

  /* 11~20 */
  16.67% {
    background-position: -400px -100px;
  }
  18.33% {
    background-position: -500px -100px;
  }
  20.00% {
    background-position: 0 -200px;
  }
  21.67% {
    background-position: -100px -200px;
  }
  23.33% {
    background-position: -200px -200px;
  }
  25.00% {
    background-position: -300px -200px;
  }
  26.67% {
    background-position: -400px -200px;
  }
  28.33% {
    background-position: -500px -200px;
  }
  30.00% {
    background-position: 0 -300px;
  }
  31.67% {
    background-position: -100px -300px;
  }

  /* 21~30 */
  33.33% {
    background-position: -200px -300px;
  }
  35.00% {
    background-position: -300px -300px;
  }
  36.67% {
    background-position: -400px -300px;
  }
  38.33% {
    background-position: -500px -300px;
  }
  40.00% {
    background-position: 0 -400px;
  }
  41.67% {
    background-position: -100px -400px;
  }
  43.33% {
    background-position: -200px -400px;
  }
  45.00% {
    background-position: -300px -400px;
  }
  46.67% {
    background-position: -400px -400px;
  }
  48.33% {
    background-position: -500px -400px;
  }

  /* 31~40 */
  50.00% {
    background-position: 0 -500px;
  }
  51.67% {
    background-position: -100px -500px;
  }
  53.33% {
    background-position: -200px -500px;
  }
  55.00% {
    background-position: -300px -500px;
  }
  56.67% {
    background-position: -400px -500px;
  }
  58.33% {
    background-position: -500px -500px;
  }
  60.00% {
    background-position: 0 -600px;
  }
  61.67% {
    background-position: -100px -600px;
  }
  63.33% {
    background-position: -200px -600px;
  }
  65.00% {
    background-position: -300px -600px;
  }

  /* 41~50 */
  66.67% {
    background-position: -400px -600px;
  }
  68.33% {
    background-position: -500px -600px;
  }
  70.00% {
    background-position: 0 -700px;
  }
  71.67% {
    background-position: -100px -700px;
  }
  73.33% {
    background-position: -200px -700px;
  }
  75.00% {
    background-position: -300px -700px;
  }
  76.67% {
    background-position: -400px -700px;
  }
  78.33% {
    background-position: -500px -700px;
  }
  80.00% {
    background-position: 0 -800px;
  }
  81.67% {
    background-position: -100px -800px;
  }

  /* 51~60 */
  83.33% {
    background-position: -200px -800px;
  }
  85.00% {
    background-position: -300px -800px;
  }
  86.67% {
    background-position: -400px -800px;
  }
  88.33% {
    background-position: -500px -800px;
  }
  90.00% {
    background-position: 0 -900px;
  }
  91.67% {
    background-position: -100px -900px;
  }
  93.33% {
    background-position: -200px -900px;
  }
  95.00% {
    background-position: -300px -900px;
  }
  96.67% {
    background-position: -400px -900px;
  }
  98.33% {
    background-position: -500px -900px;
  }
}
