/* Inner */
.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/* Btn */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-link);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}
.btn:focus {
  box-shadow: 0 0 0 4px var(--color-link-focus);
}

/* Background image text */
.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
a.link {
  color: var(--color-link);
  font-size: 19px;
  line-height: 1.3;
}
a.link:hover {
  text-decoration: underline;
}
a.link::after {
  content: ' >';
}

/* Figures */
.figures {
  flex-grow: 1;
  position: relative;
}
.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}
.figures figcaption * {
  position: absolute;
  top: 0;
  left: 0;
}
