/* Inner */
.inner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

@media (max-width: 1000px) {
  .inner {
    max-width: 692px;
  }
}

/* Btn */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: var(--color-white);
  background-color: var(--color-link);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
.btn:focus {
  box-shadow: 0 0 0 4px var(--color-link-focus);
}

/* Background image text */
.bgtext {
  display: block;
  text-indent: -9999px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}
a.link {
  color: var(--color-link);
  font-size: 19px;
  line-height: 1.3;
}
a.link:hover {
  text-decoration: underline;
}
a.link::after {
  content: ' >';
}

@media (max-width: 740px) {
  .links {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  a.link {
    font-size: 17px;
  }
}

/* Feature */
.feature {
  display: flex;
}

@media (max-width: 740px) {
  .feature {
    flex-direction: column;
  }
}

/* Figures */
.figures {
  flex-grow: 1;
  position: relative;
}
.figures figure,
.figures figcaption {
  position: absolute;
  top: 0;
  left: 0;
}
.figures figcaption * {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 740px) {
  .figures {
    display: flex;
    justify-content: center;
  }
  .figures figure {
    position: relative;
  }
}

/* Infos */
.infos {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.infos.infos--center {
  justify-content: center;
}
.infos.infos--end {
  justify-content: flex-end;
}
.info {
  max-width: 330px;
  margin-bottom: 24px;
  transition: 1s;
  transform: translate(0, 100px);
  opacity: 0;
}
.info.show {
  transform: translate(0, 0);
  opacity: 1;
}
.infos--large .info {
  max-width: 410px;
}
.info .icon {
  width: 100px;
  height: 100px;
  margin: 0 0 -15px -30px;
  animation: sprite-icon 3s steps(1) infinite;
}
.info .icon.icon--chip {
  background-image: url('../../assets/images/sprite_chip.png');
}
.info .icon.icon--faster {
  background-image: url('../../assets/images/sprite_faster.png');
}
.info .icon.icon--neural {
  background-image: url('../../assets/images/sprite_neural.png');
}
.info .icon.icon--apps {
  background-image: url('../../assets/images/sprite_apps.png');
}
.info .icon.icon--battery {
  background-image: url('../../assets/images/sprite_battery.png');
}
.info .icon.icon--display {
  background-image: url('../../assets/images/sprite_display.png');
}
.info .icon.icon--true-tone {
  background-image: url('../../assets/images/sprite_true_tone.png');
}
.info .icon.icon--center-stage {
  background-image: url('../../assets/images/sprite_center_stage.png');
}
.info .icon.icon--front-camera {
  background-image: url('../../assets/images/sprite_front_camera.png');
}
.info .icon.icon--back-camera {
  background-image: url('../../assets/images/sprite_back_camera.png');
}
.info .icon.icon--scan {
  background-image: url('../../assets/images/sprite_scan.png');
}
.info .icon.icon--download {
  background-image: url('../../assets/images/sprite_download.png');
}
.info .icon.icon--wifi {
  background-image: url('../../assets/images/sprite_wifi.png');
}
.info .icon.icon--lte {
  background-image: url('../../assets/images/sprite_lte.png');
}
.info .icon.icon--pencil {
  background-image: url('../../assets/images/sprite_pencil.png');
}
.info .icon.icon--keyboard {
  background-image: url('../../assets/images/sprite_keyboard.png');
}
.info .icon.icon--notes {
  background-image: url('../../assets/images/sprite_notes.png');
}
.info .icon.icon--covers {
  background-image: url('../../assets/images/sprite_covers.png');
}
.info p {
  font-size: 21.5px;
  font-weight: 600;
  line-height: 1.5;
}
.info a.link {
  display: block;
  margin-top: 44px;
  font-size: 19.5px;
}
.info a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .info {
    max-width: 230px;
  }
  .infos--large .info {
    max-width: 288px;
  }
  .info .icon {
    transform: scale(0.8);
    margin: -30px 0 -24px -32px;
  }
  .info p {
    font-size: 19px;
    line-height: 1.4;
  }
  .info a.link {
    margin-top: 24px;
  }
}

@media (max-width: 740px) {
  .info {
    max-width: none;
    padding: 0 20px;
  }
  .infos--large .info {
    max-width: none;
  }
  .info a.link {
    font-size: 17px;
  }
}

/* WhiteBox */
.whitebox {
  max-width: 1386px;
  margin: 0 auto;
  padding: 100px 30px;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: var(--color-white);
}
.whitebox.whitebox--transparent {
  background-color: transparent;
}
.whitebox .icon {
  margin-bottom: 20px;
}
.whitebox h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.3;
}
.whitebox p {
  margin-top: 20px;
  font-size: 19px;
}
.whitebox a.link {
  display: block;
  margin-top: 26px;
}

@media (max-width: 1000px) {
  .whitebox {
    padding: 60px 30px;
  }
  .whitebox .icon {
    width: 44px;
  }
  .whitebox h1 {
    font-size: 36px;
  }
}

@media (max-width: 740px) {
  .whitebox p {
    font-size: 17px;
  }
}
