/* Header */
header {
  background-color: var(--color-header);
}

header .inner {
  position: relative;
}

header ul.menu {
  height: 44px;
  display: flex;
  justify-content: space-between;
}

header ul.menu > li {
  display: flex;
  transition: 0.4;
}

header ul.menu > li > a {
  padding: 0px 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: var(--color-section);
  opacity: 0.8;
}

header ul.menu > li > a:hover {
  opacity: 1;
}

header ul.menu > li.basket-starter {
  position: relative;
}

/* Header / Menu /Basket */

header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background-color: var(--color-white);
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

header .basket.show {
  visibility: visible;
  opacity: 1;
}

header .basket .arrow {
  width: 20px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 12px;
  overflow: hidden;
}

header .basket .arrow::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  transform: rotate(45deg);
  transform-origin: 0 0;
  position: absolute;
  top: 0%;
  left: 50%;
}

header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  color: #6e6e6e;
  text-align: center;
}

header .basket ul {
  margin-top: 10px;
}
header .basket ul li {
  border-top: 1px solid var(--color-border);
}

header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: var(--color-link);
}

header .basket ul li a:hover {
  text-decoration: underline;
}

/* Header / search */

header .search-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  transition: 0.4;
  opacity: 0;
  z-index: 10;
}

header .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}

header .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow);
}

header .search .textfield {
  width: 100%;
  position: relative;
}

header .search input {
  width: 100%;
  height: 44px;
  padding: 0 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 17px;
  color: var(--color-white);
}

header .search .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  opacity: 0.4;
}

header .search .search-closer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  opacity: 0.4;
  cursor: pointer;
}

header .search .search-closer:hover {
  opacity: 1;
}

header .search .autocompletes {
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  background-color: var(--color-white);
  position: absolute;
  top: 44px;
  left: 0;
}

header .search .autocompletes h3 {
  font-size: 12px;
  color: #6e6e6e;
  margin-bottom: 12px;
}

header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

header .search input,
header .search .search-icon,
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: 0.6s;
  transform: translateX(100px);
}

header.searching ul.menu > li {
  transform: scale(0.7);
  opacity: 0;
}

header.searching .search-wrap {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: 0.2s;
  transform: translateX(0px);
}

header .search .autocompletes ul li a:hover {
  background-color: var(--color-section);
  color: var(--color-link);
}

/* NAV */

nav {
  width: 100%;
  height: 53px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  z-index: 8;
}

nav .inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

nav h1 {
  flex-grow: 1;
  font-weight: 500;
  font-size: 22px;
}

nav ul.menu {
  display: flex;
  gap: 12px;
  font-size: 11px;
}

nav ul.menu li {
  padding: 6px;
}

nav ul.menu li a:hover {
  color: var(--color-link);
}

nav ul.menu li.idex a {
  color: gray;
}

nav ul.menu li.buy_btn {
  color: #fff;
  background-color: var(--color-link);
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

nav .inner > ul li.buy_btn:hover {
  background-color: rgb(0, 115, 230, 0.7);
}

nav .inner > ul li.buy_btn a {
  color: var(--color-white);
}

/* Footer */
footer {
  background-color: var(--color-section);
}
/* Footer / Buy Info */
footer .buy-info {
  padding: 76px 0;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  text-align: center;
}
footer .buy-info .icon {
  width: 56px;
  height: 56px;
  margin: 0 auto 10px;
}
footer .buy-info h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}
footer .buy-info p {
  margin-bottom: 12px;
  font-size: 14px;
}
footer .buy-info a.link {
  font-size: 14px;
}
/* Footer / Warning */
footer .warning {
  padding: 18px 0 10px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}
footer .warning ol {
  list-style: decimal;
  padding-left: 16px;
}
footer .warning li {
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 1.5;
  color: var(--color-font-darkgray);
}
/* Footer / Breadcrumbs */
footer .breadcrumbs {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}
footer .breadcrumbs a {
  font-size: 12px;
  color: var(--color-font-darkgray);
  position: relative;
}
footer .breadcrumbs a.apple-logo {
  width: 16px;
  height: 16px;
  background-image: url('../../assets/images/path_apple.svg');
}
footer .breadcrumbs a:hover {
  text-decoration: underline;
}
footer .breadcrumbs a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -18px;
  margin: auto;
  width: 8px;
  height: 18px;
  background-image: url('../../assets/images/path_div.svg');
}
footer .breadcrumbs a:last-child:after {
  display: none;
}
/* Footer / Navigations */
footer .navigations {
  margin-bottom: 40px;
  height: 344px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
footer .navigations .map {
  margin-top: 24px;
}
footer .navigations .map:nth-child(6) {
  padding-bottom: 100px;
}
footer .navigations .map h3 {
  font-size: 12px;
  font-weight: 600;
}
footer .navigations .map h3 .icon {
  display: none;
}
footer .navigations .map li {
  margin-top: 12px;
  font-size: 12px;
}
footer .navigations .map li a {
  color: var(--color-font-darkgray);
}
footer .navigations .map li a:hover {
  text-decoration: underline;
}
footer .how-to-shop {
  font-size: 12px;
  line-height: 1.4;
  color: var(--color-font-darkgray);
}
footer .how-to-shop a {
  color: var(--color-link);
}
footer .how-to-shop a:hover {
  text-decoration: underline;
}
footer .legal {
  margin-top: 10px;
  padding: 10px 0 40px;
  border-top: 1px solid var(--color-border);
  display: flex;
  gap: 50px;
  font-size: 12px;
  color: var(--color-font-darkgray);
}
footer .legal ul {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
footer .legal ul li {
  position: relative;
}
footer .legal ul li::after {
  content: '|';
  position: absolute;
  right: -11px;
  color: var(--color-border);
}
footer .legal ul li:last-child::after {
  display: none;
}
footer .legal ul li:hover a {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  footer .inner {
    max-width: none;
  }
  footer .legal {
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 30px;
  }
  footer .legal .locale {
    margin-top: 14px;
  }
}

@media (max-width: 740px) {
  footer .buy-info {
    flex-wrap: wrap;
  }
  footer .navigations {
    height: auto;
    display: block;
  }
  footer .navigations .map {
    margin-top: 0;
    border-bottom: 1px solid var(--color-border);
    cursor: pointer;
    user-select: none;
  }
  footer .navigations .map:nth-child(6) {
    padding-bottom: 0;
  }
  footer .navigations .map h3 {
    padding: 12px 0;
    font-weight: 400;
    display: flex;
  }
  footer .navigations .map:hover h3 {
    font-weight: 600;
  }
  footer .navigations .map h3 .text {
    flex-grow: 1;
  }
  footer .navigations .map h3 .icon {
    display: block;
    padding: 0 10px;
    color: var(--color-font-darkgray);
  }
  footer .navigations .map ul {
    height: 0;
    overflow: hidden;
    transition: transform 0.6s, opacity 0.4s;
    transform: translate(0, -20px);
    opacity: 0;
  }
  footer .navigations .map li {
    margin-top: 0;
  }
  footer .navigations .map li a {
    display: block;
    padding: 6px 12px;
  }
  /*Active accordion menu*/
  footer .navigations .map.active ul {
    height: auto;
    overflow: visible;
    padding: 6px 0 18px;
    transform: translate(0, 0);
    opacity: 1;
  }
  footer .navigations .map.active h3 .icon {
    transform: scale(1.2) rotate(45deg);
  }
  footer .legal ul {
    flex-wrap: wrap;
    gap: 6px 21px;
  }
}
