* {
  box-sizing: border-box;
}

html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  height: 10000px;
  font-family: 'Roboto', 'Noto Sans KR', 'sans-serif';
  font-size: 16px;
  line-height: 1;
  color: #1d1d1d;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

.inner {
  max-width: 1020px;
  margin: auto;
}

/* Header */
header {
  background-color: #3a3a3a;
}

header .inner {
  position: relative;
}

header ul.menu {
  height: 44px;
  display: flex;
  justify-content: space-between;
}

header ul.menu > li {
  display: flex;
  transition: 0.4;
}

header ul.menu > li > a {
  padding: 0px 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  opacity: 0.8;
}

header ul.menu > li > a:hover {
  opacity: 1;
}

header ul.menu > li.basket-starter {
  position: relative;
}

/* Header / Menu /Basket */

header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

header .basket.show {
  visibility: visible;
  opacity: 1;
}

header .basket .arrow {
  width: 20px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 12px;
  overflow: hidden;
}

header .basket .arrow::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: 0 0;
  position: absolute;
  top: 0%;
  left: 50%;
}

header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  color: #6e6e6e;
  text-align: center;
}

header .basket ul {
  margin-top: 10[x];
}
header .basket ul li {
  border-top: 1px solid #d2d2d2;
}

header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: #0071e3;
}

header .basket ul li a:hover {
  text-decoration: underline;
}

/* Header / search */

header .search-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  transition: 0.4;
  opacity: 0;
}

header .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}

header .search .shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

header .search .textfield {
  width: 100%;
  position: relative;
}

header .search input {
  width: 100%;
  height: 44px;
  padding: 0 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 17px;
  color: #fff;
}

header .search .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  opacity: 0.4;
}

header .search .search-closer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  opacity: 0.4;
  cursor: pointer;
}

header .search .search-closer:hover {
  opacity: 1;
}

header .search .autocompletes {
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  background-color: #fff;
  position: absolute;
  top: 44px;
  left: 0;
}

header .search .autocompletes h3 {
  font-size: 12px;
  color: #6e6e6e;
  margin-bottom: 12px;
}

header .search .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

header .search input,
header .search .search-icon,
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: 0.6s;
  transform: translateX(100px);
}

header.searching ul.menu > li {
  transform: scale(0.7);
  opacity: 0;
}

header.searching .search-wrap {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: 0.2s;
  transform: translateX(0px);
}

header .search .autocompletes ul li a:hover {
  background-color: #f5f5f5;
  color: #0071e3;
}

/* NAV */

nav {
  width: 100%;
  height: 53px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #d2d2d2;
  position: sticky;
  top: 0;
  z-index: 8;
}

nav .inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

nav h1 {
  flex-grow: 1;

  font-weight: 500;
  font-size: 22px;
}

nav ul.menu {
  display: flex;
  gap: 12px;
  font-size: 11px;
}

nav ul.menu li {
  padding: 6px;
}

nav ul.menu li a:hover {
  color: #0071e3;
}

nav ul.menu li.idex a {
  color: gray;
}

nav ul.menu li.buy_btn {
  color: #fff;
  background-color: rgb(0, 115, 230);
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

nav .inner > ul li.buy_btn:hover {
  background-color: rgb(0, 115, 230, 0.7);
}

nav .inner > ul li.buy_btn a {
  color: #fff;
}

/* Hero */

.hero {
}

.hero .inner {
}

.hero .bgtext {
}

.hero .figures {
}

.hero .figures figure {
}
.hero .figures figure img {
}

.hero .figures figure figcaption {
}

.hero .figures figure figcaption .caption-camera {
}

.hero .figures figure figcaption .caption-chip {
}

.hero .figures figure figcaption .caption-storage {
}
