body {
  font-family: 'Roboto', 'Noto Sans KR', 'sans-serif';
  font-size: 16px;
  line-height: 1;
  word-break: keep-all;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Header */
header {
  background-color: #3a3a3a;
}

header .inner {
  max-width: 1020px;
  margin: auto;
}

header ul.menu {
  height: 44px;
  display: flex;
  justify-content: space-between;
}

header ul.menu > li {
  display: flex;
}

header ul.menu > li > a {
  padding: 0px 10px;
  font-size: 11px;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  opacity: 0.8;
}

header ul.menu > li > a:hover {
  opacity: 1;
}

header ul.menu > li.basket-starter {
  position: relative;
}

/* Header / Menu /Basket */

header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 4px);
  right: -6px;
  display: none;
}

header .basket.show {
  display: block;
}

header .basket .arrow {
  width: 20px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 12px;
  overflow: hidden;
}

header .basket .arrow::before {
  content: '';
  width: 12px;
  height: 12px;
  border: 1px solid #d2d2d2;
  background-color: #fff;
  transform: rotate(45deg);
  transform-origin: 0 0;
  position: absolute;
  top: 0%;
  left: 50%;
}

header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  color: #6e6e6e;
  text-align: center;
}

header .basket ul {
  margin-top: 10[x];
}
header .basket ul li {
  border-top: 1px solid #d2d2d2;
}

header .basket ul li a {
  display: block;
  padding: 14px;
  font-size: 13px;
  color: #0071e3;
}

header .basket ul li a:hover {
  text-decoration: underline;
}
