/* Main wrapper */
main {
  overflow: hidden;
}

/* Hero */
.hero {
  background-color: var(--color-section);
}
.hero .inner {
  padding-bottom: 110px;
}
.hero h1 {
  width: 221px;
  height: 91px;
  background-image: url('../../assets/images/hero_ipad_text.png');
  position: absolute;
  transform: translate(624px, 235px);
  z-index: 1;
}
.hero .figures {
  height: 808px;
}

.hero figure {
  transform: translate(74px, -64px);
}

.hero figure .ipad {
  position: absolute;
  top: 10px;
}

.hero figcaption .caption-camera {
  width: 120px;
  height: 84px;
  background-image: url('../../assets/images/hero_ipad_caption_camera.png');
  transform: translate(43px, 580px);
}
.hero figcaption .caption-chip {
  width: 95px;
  height: 43px;
  background-image: url('../../assets/images/hero_ipad_caption_chip.png');
  transform: translate(589px, 510px);
}
.hero figcaption .caption-storage {
  width: 80px;
  height: 43px;
  background-image: url('../../assets/images/hero_ipad_caption_storage.png');
  transform: translate(627px, 631px);
}
.hero h2 {
  width: 738px;
  height: 145px;
  margin: 0 auto;
  background-image: url('../../assets/images/hero_headline.png');
}

.hero p.pricing {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.hero p.description {
  width: 88%;
  margin: 18px auto 0;
  font-size: 19px;
  text-align: center;
}
.hero .links {
  margin-top: 30px;
}

/* Power */
.power {
  margin-top: 110px;
  margin-bottom: 310px;
}
/* Power / Multiple Apps */
.power .multiple-apps h1 {
  width: 500px;
  height: 280px;
  background-image: url('../../assets/images/power_headline.png');
  transform: translate(104px, 0);
}
.power .multiple-apps .figures {
  height: 773px;
}
.power .multiple-apps figcaption {
  width: 138px;
  height: 46px;
  background-image: url('../../assets/images/power_multiple_apps_caption.png');
  transform: translate(703px, -47px);
}
/* Power / Arcade */
.power .arcade {
  margin-top: 55px;
}
.power .arcade .figures {
  height: 600px;
}
.power .arcade figure {
  transform: translate(-347px, -90px);
}
.power .arcade figcaption {
  width: 150px;
  height: 77px;
  background-image: url('../../assets/images/power_arcade_caption.png');
  transform: translate(483px, 653px);
}
/* Power / Create */
.power .create {
  margin-top: 55px;
}
.power .create .figures {
  height: 772px;
}
.power .create figure {
  transform: translate(-25px, 50px);
}
.power .create figcaption {
  width: 142px;
  height: 46px;
  background-image: url('../../assets/images/power_create_caption.png');
  transform: translate(543px, 908px);
}

/* Display */

.display {
  margin-top: 450px;
}

.display .notes h1 {
  width: 630px;
  height: 370px;
  background-image: url('../../assets/images/display_headline.png');
  transform: translate(104px, 0);
}

/* Display */
.display {
  margin-top: 450px;
  margin-bottom: 310px;
}
/* Display / Notes */
.display .notes h1 {
  width: 630px;
  height: 370px;
  background-image: url('../../assets/images/display_headline.png');
  transform: translate(104px, 0);
}
.display .notes .figures {
  height: 814px;
  margin-top: 26px;
}
.display .notes figcaption {
  width: 145px;
  height: 45px;
  background-image: url('../../assets/images/display_notes_caption.png');
  transform: translate(707px, -16px);
}
/* Display / Shareplay */
.display .shareplay {
  margin-top: 55px;
}
.display .shareplay .figures {
  height: 630px;
}
.display .shareplay figure {
  transform: translate(-360px, 0);
}
.display .shareplay figcaption {
  width: 110px;
  height: 48px;
  background-image: url('../../assets/images/display_shareplay_caption.png');
  transform: translate(300px, 658px);
}

/* Camera */
.camera {
  margin-top: 303px;
  margin-bottom: 100px;
}
/* Camera / Stage */
.camera .stage {
  position: relative;
}
.camera .stage h1 {
  width: 650px;
  height: 450px;
  background-image: url('../../assets/images/camera_headline.png');
  transform: translate(-25px, 0);
}
.camera .stage .info {
  position: absolute;
  top: 150px;
  right: 0;
}
.camera .stage .figures {
  height: 770px;
  margin-top: 24px;
}
.camera .stage figure {
  transform: translate(90px, 0);
}
.camera .stage video {
  position: absolute;
  top: 36px;
  left: 76px;
  -webkit-mask-image: url('../../assets/images/camera_video_mask.png');
  mask-image: url('../../assets/images/camera_video_mask.png');
}
.camera .stage .controller--play,
.camera .stage .controller--pause {
  color: var(--color-link);
  cursor: pointer;
  transform: translate(428px, -134px) rotate(-3deg);
  display: flex;
  align-items: center;
  gap: 8px;
}
.camera .stage .controller--play:hover,
.camera .stage .controller--pause:hover {
  text-decoration: underline;
}
.camera .stage .controller--play.hide,
.camera .stage .controller--pause.hide {
  display: none;
}
.camera .stage .controller--play img,
.camera .stage .controller--pause img {
  width: 20px;
  margin-top: -2px;
}
.camera .stage figcaption {
  width: 130px;
  height: 110px;
  background-image: url('../../assets/images/camera_hardware_caption.png');
  transform: translate(-116px, 383px);
}
/* Camera / Edit */
.camera .edit .figures {
  height: 910px;
}
.camera .edit figure {
  transform: translate(20px, 0);
}
.camera .edit figcaption {
  width: 130px;
  height: 47px;
  background-image: url('../../assets/images/camera_edit_caption.png');
  transform: translate(27px, 905px);
}

@media (max-width: 1000px) {
  .camera {
    margin-top: 165px;
  }
  .camera .stage h1 {
    width: 405px;
    height: 270px;
    transform: translate(0, 0);
  }
  .camera .stage .info {
    top: 0;
  }
  .camera .stage .figures {
    height: 500px;
  }
  .camera .stage figure img {
    width: 678px;
  }
  .camera .stage video {
    top: 23px;
    left: 50px;
    transform: scale(0.65);
    transform-origin: 0 0;
  }
  .camera .stage .controller--play,
  .camera .stage .controller--pause {
    transform: translate(276px, -88px) rotate(-3deg);
  }
  .camera .stage figcaption {
    transform: scale(0.8) translate(-136px, 306px);
  }
  .camera .edit .figures {
    height: auto;
  }
  .camera .edit figure {
    transform: translate(40px, 0);
  }
  .camera .edit figure img {
    width: 509px;
  }
  .camera .edit figcaption {
    transform: scale(0.8) translate(27px, 742px);
  }
}

@media (max-width: 740px) {
  .camera {
    margin-top: 120px;
  }
  .camera .stage h1 {
    width: 304px;
    height: 350px;
    background-image: url('../images/camera_headline_mobile.png');
    margin: 0 auto;
  }
  .camera .stage .info {
    position: static;
    margin-top: 30px;
  }
  .camera .stage .figures {
    height: auto;
    margin-top: 64px;
  }
  .camera .stage figure {
    transform: translate(20px, 0);
  }
  .camera .stage figure img {
    width: 450px;
  }
  .camera .stage video {
    top: 15px;
    left: 33px;
    transform: scale(0.43);
  }
  .camera .stage .controller--play,
  .camera .stage .controller--pause {
    transform: translate(169px, -51px) rotate(-3deg);
  }
  .camera .stage figcaption {
    width: 175px;
    height: 43px;
    background-image: url('../images/camera_hardware_caption_mobile.png');
    transform: scale(1) translate(110px, -40px);
  }
  .camera .edit .figures {
    margin-top: 30px;
  }
  .camera .edit figure img {
    width: 343px;
  }
  .camera .edit figcaption {
    transform: scale(0.8) translate(27px, 502px);
  }
}

/* Wireless */
.wireless {
  margin-top: 202px;
}
/* Wireless / Facetime */
.wireless .facetime h1 {
  width: 730px;
  height: 330px;
  background-image: url('../../assets/images/wireless_headline.png');
  transform: translate(104px, 0);
}
.wireless .facetime .figures {
  height: 773px;
}
.wireless .facetime figure {
  transform: translate(-68px, 0);
}
.wireless .facetime figcaption {
  width: 139px;
  height: 46px;
  background-image: url('../../assets/images/wireless_facetime_caption.png');
  transform: translate(843px, -49px);
}
/* Wireless / Files */
.wireless .files figure {
  transform: translate(34px, -34px);
}
.wireless .files figcaption {
  width: 127px;
  height: 46px;
  background-image: url('../../assets/images/wireless_files_caption.png');
  transform: translate(96px, 639px);
}
