/* Main wrapper */
main {
  overflow: hidden;
}

/* Hero */
.hero {
  background-color: var(--color-section);
}
.hero .inner {
  padding-bottom: 110px;
}
.hero h1 {
  width: 221px;
  height: 91px;
  background-image: url('../../assets/images/hero_ipad_text.png');
  position: absolute;
  transform: translate(624px, 235px);
  z-index: 1;
}
.hero .figures {
  height: 808px;
}

.hero figure {
  transform: translate(74px, -64px);
}

.hero figure .ipad {
  position: absolute;
  top: 10px;
}

.hero figcaption .caption-camera {
  width: 120px;
  height: 84px;
  background-image: url('../../assets/images/hero_ipad_caption_camera.png');
  transform: translate(43px, 580px);
}
.hero figcaption .caption-chip {
  width: 95px;
  height: 43px;
  background-image: url('../../assets/images/hero_ipad_caption_chip.png');
  transform: translate(589px, 510px);
}
.hero figcaption .caption-storage {
  width: 80px;
  height: 43px;
  background-image: url('../../assets/images/hero_ipad_caption_storage.png');
  transform: translate(627px, 631px);
}
.hero h2 {
  width: 738px;
  height: 145px;
  margin: 0 auto;
  background-image: url('../../assets/images/hero_headline.png');
}

.hero p.pricing {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.hero p.description {
  width: 88%;
  margin: 18px auto 0;
  font-size: 19px;
  text-align: center;
}
.hero .links {
  margin-top: 30px;
}

/* Power */
.power {
  margin-top: 110px;
  margin-bottom: 310px;
}
/* Power / Multiple Apps */
.power .multiple-apps h1 {
  width: 500px;
  height: 280px;
  background-image: url('../../assets/images/power_headline.png');
  transform: translate(104px, 0);
}
.power .multiple-apps .figures {
  height: 773px;
}
.power .multiple-apps figcaption {
  width: 138px;
  height: 46px;
  background-image: url('../../assets/images/power_multiple_apps_caption.png');
  transform: translate(703px, -47px);
}
/* Power / Arcade */
.power .arcade {
  margin-top: 55px;
}
.power .arcade .figures {
  height: 600px;
}
.power .arcade figure {
  transform: translate(-347px, -90px);
}
.power .arcade figcaption {
  width: 150px;
  height: 77px;
  background-image: url('../../assets/images/power_arcade_caption.png');
  transform: translate(483px, 653px);
}
/* Power / Create */
.power .create {
  margin-top: 55px;
}
.power .create .figures {
  height: 772px;
}
.power .create figure {
  transform: translate(-25px, 50px);
}
.power .create figcaption {
  width: 142px;
  height: 46px;
  background-image: url('../../assets/images/power_create_caption.png');
  transform: translate(543px, 908px);
}

/* Display */

.display {
  margin-top: 450px;
}

.display .notes h1 {
  width: 630px;
  height: 370px;
  background-image: url('../../assets/images/display_headline.png');
  transform: translate(104px, 0);
}

/* Display */
.display {
  margin-top: 450px;
  margin-bottom: 310px;
}
/* Display / Notes */
.display .notes h1 {
  width: 630px;
  height: 370px;
  background-image: url('../../assets/images/display_headline.png');
  transform: translate(104px, 0);
}
.display .notes .figures {
  height: 814px;
  margin-top: 26px;
}
.display .notes figcaption {
  width: 145px;
  height: 45px;
  background-image: url('../../assets/images/display_notes_caption.png');
  transform: translate(707px, -16px);
}
/* Display / Shareplay */
.display .shareplay {
  margin-top: 55px;
}
.display .shareplay .figures {
  height: 630px;
}
.display .shareplay figure {
  transform: translate(-360px, 0);
}
.display .shareplay figcaption {
  width: 110px;
  height: 48px;
  background-image: url('../../assets/images/display_shareplay_caption.png');
  transform: translate(300px, 658px);
}

/* Camera */
.camera {
  margin-top: 303px;
  margin-bottom: 100px;
}
/* Camera / Stage */
.camera .stage {
  position: relative;
}
.camera .stage h1 {
  width: 650px;
  height: 450px;
  background-image: url('../../assets/images/camera_headline.png');
  transform: translate(-25px, 0);
}
.camera .stage .info {
  position: absolute;
  top: 150px;
  right: 0;
}
.camera .stage .figures {
  height: 770px;
  margin-top: 24px;
}
.camera .stage figure {
  transform: translate(90px, 0);
}
.camera .stage video {
  position: absolute;
  top: 36px;
  left: 76px;
  -webkit-mask-image: url('../../assets/images/camera_video_mask.png');
  mask-image: url('../../assets/images/camera_video_mask.png');
}
.camera .stage .controller--play,
.camera .stage .controller--pause {
  color: var(--color-link);
  cursor: pointer;
  transform: translate(428px, -134px) rotate(-3deg);
  display: flex;
  align-items: center;
  gap: 8px;
}
.camera .stage .controller--play:hover,
.camera .stage .controller--pause:hover {
  text-decoration: underline;
}
.camera .stage .controller--play.hide,
.camera .stage .controller--pause.hide {
  display: none;
}
.camera .stage .controller--play img,
.camera .stage .controller--pause img {
  width: 20px;
  margin-top: -2px;
}
.camera .stage figcaption {
  width: 130px;
  height: 110px;
  background-image: url('../../assets/images/camera_hardware_caption.png');
  transform: translate(-116px, 383px);
}
/* Camera / Edit */
.camera .edit .figures {
  height: 910px;
}
.camera .edit figure {
  transform: translate(20px, 0);
}
.camera .edit figcaption {
  width: 130px;
  height: 47px;
  background-image: url('../../assets/images/camera_edit_caption.png');
  transform: translate(27px, 905px);
}

@media (max-width: 1000px) {
  .camera {
    margin-top: 165px;
  }
  .camera .stage h1 {
    width: 405px;
    height: 270px;
    transform: translate(0, 0);
  }
  .camera .stage .info {
    top: 0;
  }
  .camera .stage .figures {
    height: 500px;
  }
  .camera .stage figure img {
    width: 678px;
  }
  .camera .stage video {
    top: 23px;
    left: 50px;
    transform: scale(0.65);
    transform-origin: 0 0;
  }
  .camera .stage .controller--play,
  .camera .stage .controller--pause {
    transform: translate(276px, -88px) rotate(-3deg);
  }
  .camera .stage figcaption {
    transform: scale(0.8) translate(-136px, 306px);
  }
  .camera .edit .figures {
    height: auto;
  }
  .camera .edit figure {
    transform: translate(40px, 0);
  }
  .camera .edit figure img {
    width: 509px;
  }
  .camera .edit figcaption {
    transform: scale(0.8) translate(27px, 742px);
  }
}

@media (max-width: 740px) {
  .camera {
    margin-top: 120px;
  }
  .camera .stage h1 {
    width: 304px;
    height: 350px;
    background-image: url('../images/camera_headline_mobile.png');
    margin: 0 auto;
  }
  .camera .stage .info {
    position: static;
    margin-top: 30px;
  }
  .camera .stage .figures {
    height: auto;
    margin-top: 64px;
  }
  .camera .stage figure {
    transform: translate(20px, 0);
  }
  .camera .stage figure img {
    width: 450px;
  }
  .camera .stage video {
    top: 15px;
    left: 33px;
    transform: scale(0.43);
  }
  .camera .stage .controller--play,
  .camera .stage .controller--pause {
    transform: translate(169px, -51px) rotate(-3deg);
  }
  .camera .stage figcaption {
    width: 175px;
    height: 43px;
    background-image: url('../images/camera_hardware_caption_mobile.png');
    transform: scale(1) translate(110px, -40px);
  }
  .camera .edit .figures {
    margin-top: 30px;
  }
  .camera .edit figure img {
    width: 343px;
  }
  .camera .edit figcaption {
    transform: scale(0.8) translate(27px, 502px);
  }
}

/* Wireless */
.wireless {
  margin-top: 202px;
}
/* Wireless / Facetime */
.wireless .facetime h1 {
  width: 730px;
  height: 330px;
  background-image: url('../../assets/images/wireless_headline.png');
  transform: translate(104px, 0);
}
.wireless .facetime .figures {
  height: 773px;
}
.wireless .facetime figure {
  transform: translate(-68px, 0);
}
.wireless .facetime figcaption {
  width: 139px;
  height: 46px;
  background-image: url('../../assets/images/wireless_facetime_caption.png');
  transform: translate(843px, -49px);
}
/* Wireless / Files */
.wireless .files figure {
  transform: translate(34px, -34px);
}
.wireless .files figcaption {
  width: 127px;
  height: 46px;
  background-image: url('../../assets/images/wireless_files_caption.png');
  transform: translate(96px, 639px);
}

/* iPadOS */
.ipados {
  margin-top: 212px;
  margin-bottom: 180px;
}
.ipados h1 {
  width: 530px;
  height: 400px;
  margin: 0 auto;
  background-image: url('../../assets/images/ipados_headline.png');
}
.ipados .infos {
  margin-top: 44px;
  align-items: flex-end;
}
.ipados .figures {
  display: flex;
  height: 782px;
}
.ipados .figures > div {
  flex-grow: 1;
  position: relative;
}
.ipados .figure-split-view figure {
  transform: translate(-205px, -312px);
}
.ipados .figure-split-view figcaption {
  width: 163px;
  height: 53px;
  background-image: url('../../assets/images/ipados_split_view_caption.png');
  transform: translate(200px, -38px);
}
.ipados .figure-widgets figure {
  transform: translate(237px, 43px);
}
.ipados .figure-widgets figcaption {
  width: 161px;
  height: 46px;
  background-image: url('../../assets/images/ipados_widgets_caption.png');
  transform: translate(257px, 497px);
}
.ipados .figure-quick-note figure {
  transform: translate(-625px, 232px);
}
.ipados .figure-quick-note figcaption {
  width: 82px;
  height: 97px;
  background-image: url('../../assets/images/ipados_quick_note_caption.png');
  transform: translate(511px, 470px);
}

@media (max-width: 1000px) {
  .ipados {
    margin-top: 100px;
  }
  .ipados h1 {
    width: 357px;
    height: 274px;
    margin: 0;
  }
  .ipados .infos {
    margin-top: -98px;
  }
  .ipados .figures {
    height: 520px;
  }
  .ipados .figure-split-view figure {
    transform: translate(-17px, -187px);
  }
  .ipados .figure-split-view figure img {
    width: 441px;
  }
  .ipados .figure-split-view figcaption {
    transform: scale(0.8) translate(30px, -50px);
  }
  .ipados .figure-widgets figure {
    transform: translate(180px, 3px);
  }
  .ipados .figure-widgets figure img {
    width: 441px;
  }
  .ipados .figure-widgets figcaption {
    transform: scale(0.8) translate(152px, 345px);
  }
  .ipados .figure-quick-note figure {
    transform: translate(-346px, 119px);
  }
  .ipados .figure-quick-note figure img {
    width: 333px;
  }
  .ipados .figure-quick-note figcaption {
    transform: scale(0.8) translate(350px, 310px);
  }
}

@media (max-width: 740px) {
  .ipados h1 {
    width: 300px;
    height: 227px;
    margin: 0 auto;
  }
  .ipados .infos {
    margin-top: 30px;
  }
  .ipados .figures {
    display: block;
    height: auto;
  }
  .ipados .figures > div {
    display: flex;
    justify-content: center;
  }
  .ipados .figure-split-view figure {
    transform: translate(64px, 55px);
  }
  .ipados .figure-split-view figure img {
    width: 370px;
  }
  .ipados .figure-split-view figcaption {
    transform: scale(0.8) translate(39px, -55px);
  }
  .ipados .figure-widgets figure {
    transform: translate(-19px, 34px);
  }
  .ipados .figure-widgets figure img {
    width: 375px;
  }
  .ipados .figure-widgets figcaption {
    transform: scale(0.8) translate(252px, 287px);
  }
  .ipados .figure-quick-note figure {
    transform: translate(35px, 46px);
  }
  .ipados .figure-quick-note figure img {
    width: 283px;
  }
  .ipados .figure-quick-note figcaption {
    width: 76px;
    height: 88px;
    background-image: url('../images/ipados_quick_note_caption_mobile.png');
    transform: scale(1) translate(-65px, 250px);
  }
}

/* Apps */
.apps {
  margin-top: 368px;
}
.apps h1 {
  width: 500px;
  height: 264px;
  background-image: url('../../assets/images/apps_headline.png');
  transform: translate(17px, 0);
}
.apps .infos {
  margin-top: 36px;
  margin-left: 82px;
}
.apps .figures {
  display: flex;
  height: 788px;
}
.apps .figures > div {
  flex-grow: 1;
  position: relative;
}
.apps .figure-masterclass figure {
  transform: translate(578px, -431px);
}
.apps .figure-masterclass figcaption {
  width: 100px;
  height: 25px;
  background-image: url('../../assets/images/apps_masterclass_caption.png');
  transform: translate(26px, 690px);
}
.apps .figure-adobe figure {
  transform: translate(-515px, 85px);
}
.apps .figure-adobe figcaption {
  width: 105px;
  height: 24px;
  background-image: url('../../assets/images/apps_adobe_caption.png');
  transform: translate(544px, 514px);
}
.apps .figure-fantasian figure {
  transform: translate(-103px, 318px);
}
.apps .figure-fantasian figcaption {
  width: 74px;
  height: 22px;
  background-image: url('../../assets/images/apps_fantasian_caption.png');
  transform: translate(24px, 483px);
}
.apps .figure-books figure {
  transform: translate(-133px, -150px);
}
.apps .figure-books figcaption {
  width: 50px;
  height: 27px;
  background-image: url('../../assets/images/apps_books_caption.png');
  transform: translate(397px, 707px);
}
.apps .figure-goodnotes figure {
  transform: translate(-93px, 68px);
}
.apps .figure-goodnotes figcaption {
  width: 99px;
  height: 26px;
  background-image: url('../../assets/images/apps_goodnotes_caption.png');
  transform: translate(24px, 690px);
}

@media (max-width: 1000px) {
  .apps {
    margin-top: 120px;
  }
  .apps h1 {
    width: 390px;
    height: 208px;
    transform: none;
  }
  .apps .infos {
    margin-left: 0;
  }
  .apps .info {
    max-width: 404px;
  }
  .apps .figures {
    height: 450px;
  }
  .apps .figure-masterclass figure {
    transform: translate(438px, -264px);
  }
  .apps .figure-masterclass figure img {
    width: 330px;
  }
  .apps .figure-masterclass figcaption {
    transform: scale(0.8) translate(6px, 480px);
  }
  .apps .figure-adobe figure {
    transform: translate(-230px, 20px);
  }
  .apps .figure-adobe figure img {
    width: 438px;
  }
  .apps .figure-adobe figcaption {
    transform: scale(0.8) translate(324px, 355px);
  }
  .apps .figure-fantasian figure {
    transform: translate(-40px, 160px);
  }
  .apps .figure-fantasian figure img {
    width: 438px;
  }
  .apps .figure-fantasian figcaption {
    transform: scale(0.8) translate(14px, 339px);
  }
  .apps .figure-books figure {
    transform: translate(42px, -94px);
  }
  .apps .figure-books figure img {
    width: 330px;
  }
  .apps .figure-books figcaption {
    transform: scale(0.8) translate(253px, 493px);
  }
  .apps .figure-goodnotes figure {
    transform: translate(3px, 28px);
  }
  .apps .figure-goodnotes figure img {
    width: 346px;
  }
  .apps .figure-goodnotes figcaption {
    transform: scale(0.8) translate(5px, 483px);
  }
}

@media (max-width: 740px) {
  .apps h1 {
    width: 320px;
    height: 169px;
    margin: 0 auto;
  }
  .apps .info {
    max-width: none;
  }
  .apps .figures {
    display: block;
    height: auto;
  }
  .apps .figures > div {
    display: flex;
    justify-content: center;
    height: 240px;
  }
  .apps .figure-masterclass figure {
    transform: translate(140px, 40px);
  }
  .apps .figure-masterclass figure img {
    width: 270px;
  }
  .apps .figure-masterclass figcaption {
    transform: scale(0.8) translate(29px, 400px);
  }
  .apps .figure-adobe figure {
    transform: translate(-154px, -126px);
  }
  .apps .figure-adobe figure img {
    width: 358px;
  }
  .apps .figure-adobe figcaption {
    transform: scale(0.8) translate(233px, 295px);
  }
  .apps .figure-fantasian figure {
    transform: translate(19px, -82px);
  }
  .apps .figure-fantasian figure img {
    width: 358px;
  }
  .apps .figure-fantasian figcaption {
    transform: scale(0.8) translate(24px, 282px);
  }
  .apps .figure-books figure {
    transform: translate(-100px, -40px);
  }
  .apps .figure-books figure img {
    width: 270px;
  }
  .apps .figure-books figcaption {
    transform: scale(0.8) translate(197px, 407px);
  }
  .apps .figure-goodnotes figure {
    transform: translate(132px, -110px);
  }
  .apps .figure-goodnotes figure img {
    width: 286px;
  }
  .apps .figure-goodnotes figcaption {
    transform: scale(0.8) translate(24px, -37px);
  }
}

/* Privacy */
.privacy {
  margin-top: 238px;
  margin-bottom: 100px;
}
.privacy h1 {
  width: 482px;
  height: 237px;
  margin-left: auto;
  background-image: url('../../assets/images/privacy_headline.png');
  transform: translate(57px, 0);
  position: relative;
  z-index: 1;
}
.privacy .infos {
  margin-top: 38px;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}
.privacy figure {
  transform: translate(-215px, -500px);
}
.privacy figcaption .caption-apple-id {
  width: 170px;
  height: 26px;
  background-image: url('../../assets/images/privacy_caption_apple_id.png');
  transform: translate(195px, -13px);
}
.privacy figcaption .caption-touch-id {
  width: 150px;
  height: 31px;
  background-image: url('../../assets/images/privacy_caption_touch_id.png');
  transform: translate(533px, 485px);
}

@media (max-width: 1000px) {
  .privacy {
    margin-top: 120px;
  }
  .privacy h1 {
    width: 368px;
    height: 182px;
    transform: translate(70px, 0);
  }
  .privacy .infos {
    margin-top: 24px;
  }
  .privacy figure {
    transform: translate(-18px, -440px);
  }
  .privacy figure img {
    width: 441px;
  }
  .privacy figcaption .caption-apple-id {
    transform: scale(0.8) translate(-22px, -18px);
  }
  .privacy figcaption .caption-touch-id {
    transform: scale(0.8) translate(293px, 339px);
  }
}

@media (max-width: 740px) {
  .privacy h1 {
    width: 277px;
    height: 136px;
    margin: 0 auto;
    transform: none;
  }
  .privacy .figures {
    margin-top: 30px;
  }
  .privacy figure {
    transform: translate(20px, 0);
  }
}

/* Accessibility */
.accessibility {
  margin-top: 266px;
  margin-bottom: 170px;
}
.accessibility h1 {
  width: 384px;
  height: 270px;
  background-image: url('../../assets/images/accessibility_headline.png');
}
.accessibility .infos {
  margin-top: 20px;
}
.accessibility figure {
  transform: translate(470px, -620px);
}

@media (max-width: 1000px) {
  .accessibility {
    margin-top: 86px;
    margin-bottom: 120px;
  }
  .accessibility h1 {
    width: 287px;
    height: 205px;
  }
  .accessibility .info {
    max-width: 346px;
  }
  .accessibility figure {
    transform: translate(401px, -504px);
  }
  .accessibility figure img {
    width: 329px;
  }
}

@media (max-width: 740px) {
  .accessibility {
    margin-bottom: 50px;
  }
  .accessibility h1 {
    height: 165px;
    margin: 0 auto;
  }
  .accessibility .info {
    max-width: none;
  }
  .accessibility .figures {
    margin-top: 30px;
  }
  .accessibility figure {
    transform: translate(20px, 0);
  }
}

/* AR */
.ar {
  padding: 20px 20px 0;
  background-color: var(--color-section);
}
.ar .whitebox {
  padding-bottom: 0;
}
.ar .inner {
  display: flex;
}
.ar .inner > div {
  max-width: 410px;
  margin-top: 60px;
  margin-right: 90px;
}

@media (max-width: 1000px) {
  .ar .image {
    width: 258px;
  }
}

@media (max-width: 740px) {
  .ar .inner {
    flex-direction: column;
    align-items: center;
  }
  .ar .inner > div {
    max-width: none;
    margin: 0 0 30px;
    text-align: center;
  }
  .ar .icon {
    margin: 0 auto 20px;
  }
}

/* Environment */
.environment {
  padding: 20px 20px 0;
  background-color: var(--color-section);
  text-align: center;
}
.environment .icon {
  margin-left: auto;
  margin-right: auto;
}
.environment h1 {
  color: #03a10e;
}

@media (max-width: 1000px) {
  .environment p br {
    display: none;
  }
}

/* Accessory Shop */
.accessory-shop {
  background-color: var(--color-section);
  text-align: center;
}
.accessory-shop .whitebox {
  padding-bottom: 0;
}
.accessory-shop .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accessory-shop img {
  margin-top: 50px;
}

@media (max-width: 1000px) {
  .accessory-shop img {
    width: 960px;
  }
}

/* Trade */
.trade {
  padding: 20px 20px 0;
  background-color: var(--color-section);
  text-align: center;
}

@media (max-width: 1000px) {
  .trade p br {
    display: none;
  }
}

/* Compare */
.compare {
  padding: 20px 20px 0;
  background-color: var(--color-section);
  text-align: center;
}
.compare .items {
  display: flex;
  justify-content: space-around;
  max-width: 940px;
  margin: 68px auto 74px;
}
.compare .item {
  width: 190px;
  padding-bottom: 34px;
  border-bottom: 1px solid var(--color-border);
}
.compare .item .thumbnail {
  height: 214px;
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.compare .item ul.colors {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 6px;
}
.compare .item ul.colors li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: lightgray;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.compare .item h3.name {
  margin-bottom: 4px;
  font-size: 22px;
}
.compare .item .tagline {
  margin-bottom: 20px;
  font-size: 16px;
}
.compare .item .price {
  margin-bottom: 10px;
  font-size: 14px;
}
.compare .item .btn {
  margin: 0 auto 14px;
}
.compare .item a.link {
  font-size: 14px;
}

@media (max-width: 1000px) {
  .compare .items {
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin: 68px auto 34px;
  }
}

@media (max-width: 740px) {
  .compare .whitebox {
    max-width: 430px;
  }
  .compare .items {
    max-width: 190px;
  }
  .compare .item {
    border-bottom: none;
  }
  .compare .links {
    padding-top: 40px;
    border-top: 1px solid var(--color-border);
  }
  .compare a.link {
    margin-top: 0;
  }
}
