/* Main wrapper */
main {
  overflow-x: hidden;
}

/* Hero */
.hero {
  background-color: var(--color-section);
}
.hero .inner {
  padding-bottom: 110px;
}
.hero h1 {
  width: 221px;
  height: 91px;
  background-image: url('../assets/images/hero_ipad_text.png');
  position: absolute;
  transform: translate(624px, 235px);
  z-index: 1;
}
.hero .figures {
  height: 808px;
}

.hero figure {
  transform: translate(74px, -64px);
}
.hero figcaption .caption-camera {
  width: 120px;
  height: 84px;
  background-image: url('../assets/images/hero_ipad_caption_camera.png');
  transform: translate(43px, 580px);
}
.hero figcaption .caption-chip {
  width: 95px;
  height: 43px;
  background-image: url('../assets/images/hero_ipad_caption_chip.png');
  transform: translate(589px, 510px);
}
.hero figcaption .caption-storage {
  width: 80px;
  height: 43px;
  background-image: url('../assets/images/hero_ipad_caption_storage.png');
  transform: translate(627px, 631px);
}
.hero h2 {
  width: 738px;
  height: 145px;
  margin: 0 auto;
  background-image: url('../assets/images/hero_headline.png');
}

.hero p.pricing {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.hero p.description {
  width: 88%;
  margin: 18px auto 0;
  font-size: 19px;
  text-align: center;
}
.hero .links {
  margin-top: 30px;
}
